body{
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: white;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    background-color: #262626;
    border: 7px solid #000000;
    padding: 10px;
    margin-bottom: 20px;
    width: 510px;
}
.main1{

    width: 510px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -40px;
    padding: 10px;
    margin-bottom: 20px;
}
.main2{
    gap: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
h2, a{
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
.logotext{
    font-size: 50px;
}
.logo{
    margin: 10px;
    width: 150px;
    z-index: 1;
}
input{
    height: 20px;
    
}

#input1{
    width: 200px;
    margin-bottom: 5px;
}
#input2{
    width: 400px;
    margin-bottom: 5px;
}
#input3{
    width: 480px;
    height: 100px;
    
    margin-bottom: 5px;
}